/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
.titulo {
  font-family: monospace;
  margin: 0;
  text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px rgb(100, 96, 96);
}

body {
  background-image: url('citylarge.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
  float: left;
  padding: 10px;
  min-height: 50px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 5px solid;
  border-image: linear-gradient(to bottom, red, yellow, cyan, blue, magenta, red) 1;
}

.izquierda {
width: 35%;
}

.derecha {
width: 65%;
}

.derechayuda {
width: 50%;  
background-color: gray;
color: yellow;
}

.izquierdayuda {
width: 50%;
background-color: gray;
color: yellow;
}

.fila{
float: initial;
padding: 10px;
min-height: 160px;
border-radius: 10px;
width: 100%;

}

.textoderecha{
  text-align: right;
}

.textoizquierda{
  text-align: right;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#EB4EF5;
}

#c2 {
    background-color:#B54EF5;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */