body {
  background-image: url('usa.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#mapa {
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    height: 80%;
    
  }

  /* Imagen deshabilitada
   Se usa para leerla desde js y
   meterla en el canvas */
   #iluminati {
    display: none;
  }

  .boton {
    min-height: 100px;
    min-width: 100px;
    border-radius: 10px;
    background-color: rgba(216, 15, 15);
    color: white;
    padding: 10px;


  }
  
  .columna {
    float: left;
    padding: 10px;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 5px solid;
    border-image: linear-gradient(to bottom, red, yellow, cyan, blue, magenta, red) 1;
  }

  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 160px;
    width: 100%;
  }

  .izquierdayuda {
    width: 63%;
    background-color: rgba(0, 0, 0);
    color: white;
    margin: 0 auto;
    border-style: solid;
    border-width: 6px;
    border-color: white;
  }

  .cursiva{
      font-style: italic;
  }

  .textoderecha{
    text-align: right;
  }
  
  .textonormal{
    font-style: verdana;
  }
  
  .textoizquierda{
    text-align: right;
    
  }
  