body {
  background-image: url('MLG.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#mapa {
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    height: 80%;
  }

  /* Imagen deshabilitada
   Se usa para leerla desde js y
   meterla en el canvas */
   #iluminati {
    display: none;
  }
  