
    body {
      margin: 0;
      padding: 0;
      background-image: url('usa.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: sans-serif;
    }
    h1, p#coins {
      text-align: center;
      margin: 0.5em;
    }
    
    .middle-section {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin: 10px;
    }
    
    
    .canvas-container {
      flex: 1;
      min-width: 300px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .canvas-container canvas {
      width: 100%;
      max-width: 800px;
      aspect-ratio: 2 / 1;
      background-color: rgba(0, 0, 0, 0.7);
      border: 3px solid red;
      border-radius: 5px;
    }
    
  
    .text-container {
      flex: 1;
      min-width: 300px;
      max-width: 400px;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      border: 6px solid white;
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
    
    .text-container img {
      width: 100%;
      max-width: 150px;
      height: auto;
      margin: 0 auto 10px auto;
      display: block;
    }
    
  
    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px;
    }
    .button-container button {
      min-height: 60px;
      min-width: 60px;
      margin: 5px;
      border-radius: 10px;
      background-color: rgba(216, 15, 15, 0.9);
      color: white;
      padding: 10px;
      font-size: 1em;
    }
    
    
    @media (max-width: 768px) {
      .middle-section {
        flex-direction: column;
        align-items: center;
      }
      .canvas-container,
      .text-container {
        margin: 5px 0;
      }
    }
  