
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('usa.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(to bottom, red, yellow, cyan, blue, magenta, red) 1;
}

video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.descripcion {
    margin-top: 20px;
    font-size: 18px;
    color: #f2e9e9;
}

.boton {
    margin-top: 30px;
}

.boton a {
    display: inline-block;
    padding: 12px 24px;
    background-color: red;
    color: yellow;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.boton a:hover {
    background-color: #0056b3;
}
