body {
   background-image: url('abuela.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#btimage {
    width: 40px;
    height: 50px;
}